@charset "UTF-8";

/* _Font icon */
@font-face {
    font-family: 'fontello';
    src: url('/common/fonts/fontello.eot');
    src: url('/common/fonts/fontello.eot#iefix') format('embedded-opentype'),
         url('/common/fonts/fontello.svg#fontello') format('svg'),
         url('/common/fonts/fontello.woff') format('woff'),
         url('/common/fonts/fontello.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* common start */
body {
	background: #191919;
	font-size: 62.5%;
	font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
	font-weight: normal;
	height: 100rem;
	padding: 11.6rem 4rem 4rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body:before ,
body:after ,
footer:after {
	transition: all .3s;
	display: block;
	position: fixed;
	z-index: -1;
	content: "";
	transform-origin: 0 100%;
}

body:after {
	transition-delay: .3s;
}

footer:after {
	transition-delay: .1s;
}

body.ac.end:before ,
body.ac.end:after ,
body.ac.end footer:after {
	transition: all 1s;
}

body.ac.end:after {
	transition-delay: .1s;
}

body.ac.end footer:after {
	transition-delay: .1s;
}




body:before {
	border-radius: 0;
	top: -130rem;
	left: 75.2rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,0);
	border-bottom: 1px solid rgba(189,30,30,1);
	transform: rotate(-39.5deg);
}

body:after {
	top: -170rem;
	right: 77.5rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,.0);
	border-bottom: 1px solid rgba(189,30,30,1);
	transform: rotate(17.5deg);
}

body footer:after {
	bottom: -93rem;
	right: -12rem;
	width: 	130rem;
	height: 130rem;
	border-left: 1px solid rgba(189,30,30,1);
	background: rgba(189,30,30,0);
	transform: rotate(44.5deg);
}


body.ac:before {
	border-radius: 0;
	top: -68rem;
	left: 0rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,0);
	transform: rotate(-39.5deg);
}

body.ac.end:before {
	background: rgba(189,30,30,1);
	border-bottom: 1px solid rgba(189,30,30,.1);
}

body.ac:after {
	top: -131rem;
	right: -46rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,.0);
	transform: rotate(17.5deg);
}

body.ac.end:after {
	background: rgba(189,30,30,.3);
	border-bottom: 1px solid rgba(189,30,30,.1);
}


body.ac footer:after {
	bottom: -60rem;
	right: -44.5rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,0);
	transform: rotate(44.5deg);
}

body.ac.end footer:after {
	background: rgba(189,30,30,.6);
	border-left: 1px solid rgba(189,30,30,.1);
}

/* common end */

/* header start */
body h1 {
	position: fixed;
	top: 4rem;
	left: 4rem;
	color: #fff;
	font-size: 5.2rem;
}
/* header end */

/* main start */

body:not(.shingle) main[role="main"] {
	min-width: 108.7rem;
	text-align: center;
	letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
}

body:not(.shingle) main[role="main"] article {
	display: inline-block;
	width: 35rem;
	margin: .1rem;
	padding: 2rem;
	color: #fff;
	text-align: left;
	letter-spacing: normal; /* 文字間を通常に戻す */
	background: rgba(255,255,255,.1);
	box-sizing: border-box;
}

body:not(.shingle) main[role="main"] article h2 {
	margin: 0 0 1.6rem;
	font-size: 1.8rem;
}

body:not(.shingle) main[role="main"] article ul {
	display: inline-block;
	overflow: hidden;
	margin: 0 .2rem 0;
}

body:not(.shingle) main[role="main"] article ul li {
	float: left;
	margin: 0 1rem 0 0;
	list-style: none;
}

body:not(.shingle) main[role="main"] article ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}

main[role="main"] article ul li a {
	display: block;
	padding: .4rem;
}

main[role="main"] article ul.category li a {
	border-radius: .4rem;
	background: rgba(255,255,255,.3);
}

main[role="main"] article ul.tag li a:before {
	font-family: 'fontello';
	content: '\e801';
}

body:not(.shingle) main[role="main"] article figure {
	overflow: hidden;
	width: 30rem;
	height: 20rem;
	margin: 1.5rem 0 2rem 0;
	box-shadow: 1rem 1rem 0 rgba(255,255,255,.07);
}

body:not(.shingle) main[role="main"] article figure img {
	width: 100%;
}

body:not(.shingle) main[role="main"] article .text_box * {
	font-size: 1.3rem;
	line-height: 180%;
}

/* main end */
