@charset "UTF-8";

/* l-header
---------------------------------------------------------- */
.l-header .header-title {
	position: fixed;
	top: 4rem;
	left: 4rem;
	color: #fff;
	font-size: 5.2rem;
}

/* l-main
---------------------------------------------------------- */
.l-main {
	text-align: center;
}

/* l-footer
---------------------------------------------------------- */
