@charset "UTF-8";

body:before ,
body:after ,
footer:after {
	transition: all .3s;
	display: block;
	position: fixed;
	z-index: -1;
	content: "";
	transform-origin: 0 101%;
}

body:after {
	transition-delay: .3s;
}

footer:after {
	transition-delay: .1s;
}

body.ac.end:before ,
body.ac.end:after ,
body.ac.end footer:after {
	transition: all 1s;
}

body.ac.end:after {
	transition-delay: .1s;
}

body.ac.end footer:after {
	transition-delay: .1s;
}

body:before {
	border-radius: 0;
	top: -130rem;
	left: 75.2rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,0);
	border-bottom: 1px solid rgba(189,30,30,1);
	transform: rotate(-39.5deg);
}

body:after {
	top: -170rem;
	right: 77.5rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,.0);
	border-bottom: 1px solid rgba(189,30,30,1);
	transform: rotate(17.4deg);
}

body footer:after {
	bottom: -93rem;
	right: -12rem;
	width: 	130rem;
	height: 130rem;
	border-left: 1px solid rgba(189,30,30,1);
	background: rgba(189,30,30,0);
	transform: rotate(44.5deg);
}


body.ac:before {
	border-radius: 0;
	top: -68rem;
	left: 0rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,0);
	transform: rotate(-39.5deg);
}

body.ac.end:before {
	background: rgba(189,30,30,1);
	border-bottom: 1px solid rgba(189,30,30,.1);
}

body.ac:after {
	top: -131rem;
	right: -46rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,.0);
	transform: rotate(17.5deg);
}

body.ac.end:after {
	background: rgba(189,30,30,.3);
	border-bottom: 1px solid rgba(189,30,30,.1);
}


body.ac footer:after {
	bottom: -60rem;
	right: -44.5rem;
	width: 	130rem;
	height: 130rem;
	background: rgba(189,30,30,0);
	transform: rotate(44.5deg);
}

body.ac.end footer:after {
	background: rgba(189,30,30,.6);
	border-left: 1px solid rgba(189,30,30,.1);
}

/* common end */



/* main start */

/* article
---------------------------------------------------------- */
.article.article-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.article .article-item {
	width: 35rem;
	margin: .1rem;
	padding: 2rem;
    border-radius: .4rem;
	color: #fff;
	text-align: left;
	letter-spacing: normal; /* 文字間を通常に戻す */
	background: rgba(255,255,255,.1);
	box-sizing: border-box;
}
.article .article-item .article-item-header {
	margin: 0 0 1.6rem;
}
.article .article-item .article-item-header .article-item-header-title {
    font-size: 1.8rem;
}
.article .article-item .article-item-list {
	overflow: hidden;
	margin: 0 .2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.article .article-item .article-item-list li {
	margin: 0 1rem 0 0;
	list-style: none;
}
.article .article-item .article-item-list li a {
    display: block;
    padding: .4rem;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}
.article .article-item .article-item-category {
    margin: 0 0 .4rem;
    padding: 0 0 .6rem;
    border-bottom: .1rem dashed rgba(255,255,255,.3);
}

.article .article-item .article-item-category li a {
	border-radius: .4rem;
	background: rgba(255,255,255,.3);
}

.article .article-item .article-item-tag li a:before {
    display: inline-block;
    padding: 0 .4rem 0 0;
	font-family: 'fontello';
	content: '\e801';
}

.article .article-item .article-item-img {
	overflow: hidden;
	width: 100%;
	height: 20rem;
	margin: 1.5rem 0 1rem 0;
    transform: translate(0,0);
	box-shadow: 0rem 0rem 0 rgba(255,255,255,.07);
    transition: .6s;
}

.article .article-item.js-article-hover .article-item-img {
    transform: translate(-1rem,-1rem);
	box-shadow: 1rem 1rem 0 rgba(255,255,255,.07);
}


.article .article-item .article-item-img .article-item-img-src {
	width: 100%;
}


.article .article-item .article-item-text * {
	font-size: 1.3rem;
	line-height: 2;
}
